# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

scripts/troubleshootingfiles/
backupcs/
.vscode/

# Byte-compiled / optimized / DLL files
# *.py[cod] means *.pyc or *.pyd
# *$py.class files are only generated when you run: python -m py_compile your_module.py
__pycache__/
*.py[cod]   
*$py.class

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

